<div class="devices">
	<div class="container">
		<div class="row center">
				
			<h1>Choose your device</h1>
			<div class="img-device">
				<div class="col-md-4">
					<a href="/iphones">
						<img src="/images/iphone-6splus.jpg">
					<h3>iPhone</h3></a>
				</div> <!-- /col-md-4 -->

				<div class="col-md-4">
					<a href="/ipads">
						<img src="/images/ipad-pro-9-7.jpg">
						<h3>iPad</h3></a>
				</div> <!-- /col-md-4 -->

				<div class="col-md-4">
					<a href="/galaxys">
					<img src="/images/galaxy-s7.png"> 
						<h3>Galaxy</h3></a>
				</div> <!-- /col-md-4 -->
					
			</div> <!-- /img-device -->

		</div> <!-- /row center -->
	</div> <!-- /container -->
</div> <!-- /device -->