<div class="galaxys">
	<div class="container">
		<div class="row center">

		<h1>Choose your Galaxy device</h1>
			<div class="img-galaxys">
				<div class="col-md-4">
					<% Galaxy.group(:name).each do |g| %>
						<a href="/galaxys/<%=g.id%>">
							<img src="<% g.image %>">
							<h4><% g.name %></h4></a>
					<% end %>
				</div> <!-- /col-md-4 -->
			</div> <!-- img-galaxys -->
		</div> <!-- /row center -->
	</div> <!-- /container -->
</div> <!-- /device -->