<div class="galaxy">
	<div class="container">
		<div class="row center">

			<h2>Select your network, memory size and condition</h2>
			<div class="network">
				<div class="col-md-4">
					<div class="dropdown">
						<button class="dropbtn">Network</button>
							<div class="dropdown-content">
								<a href="#"><img src="/images/att-svg.png" width="50"></a>
								<a href="#"><img src="/images/verizon-svg.png" width="50"></a>
								<a href="#"><img src="/images/sprint-svg.png" width="50"></a>
								<a href="#"><img src="/images/tmobile-svg.png" width="50"></a>
								<a href="#"><img src="/images/wireless-svg.png" width="50"></a>
							</div> <!-- dropdown-content -->
					</div> <!-- dropdown -->
				</div> <!-- col -->
			</div> <!-- network -->

			<div class="memory">
				<div class="col-md-4">
					<div class="dropdown">
						<button class="dropbtn">Memory</button>
							<div class="dropdown-content">
								<a href="#">8GB</a>
								<a href="#">16GB</a>
								<a href="#">32GB</a>
								<a href="#">64GB</a>
								<a href="#">128GB</a>
							</div> <!-- dropdown-content -->
					</div> <!-- dropdown -->	
				</div> <!-- col -->
			</div> <!-- memory -->

			<div class="condition">
				<div class="col-md-4">
					<div class="dropdown">
						<button class="dropbtn">Condition</button>
							<div class="dropdown-content">
								<a href="#">Normal</a>
								<a href="#">Broken</a>
								<a href="#">Without Power</a>
							</div> <!-- dropdown-content -->
					</div> <!-- dropdown -->					
				</div> <!-- col -->	
			</div> <!-- condition -->
		</div> <!-- /row center -->
	</div> <!-- container-->

	<div class="container">
		<div class="price">
			<div class="row center">
				<h2>Your Galaxy is worth:</h2>
				<h1>$ <% [1,2,3,4,5].sample %></h1>
			</div> <!-- row center -->
		</div><!-- price -->
	</div> <!-- container -->

</div> <!-- /device -->