@import "bootstrap-sprockets";
@import "bootswatch/paper/variables";
@import "bootstrap";
@import "bootswatch/paper/bootswatch";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,900,700);

html {
  font-family: 'Roboto', 'OpenSans', serif;
}

body {
  padding-top: 125px;
  padding-bottom: 100px;
}

.header {
  position: absolute;
  left:0;
  padding-top:0;
  min-width:100%;
  height: 10%;
  top: 0;
  background-color: #009926;
  padding-bottom: 2%;
  display:flex;
  justify-content: center;
  align-content: center;
}

.footer {
  position: absolute;
  height: 100px;
  width:100%;
  bottom:0;
  left: 0;
  background-color: #009926;
  padding-top:2%;
  display:flex;
  justify-content: center;
  align-content: center;
}
.header a {
  color: #FFF;
  text-decoration: none;
}

.navigation {
  color: #FFF;
  width: 100%;
  display:flex;
  justify-content: space-around;
}

.navigation a {
  color: #FFF;
  text-decoration: none;
}

.navbar-inverse {
  background-color: #009926;
}
.body {
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5.5%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.device-selector {
  display: flex;
}

.devices .galaxys .iphones .ipads {
  padding:2em;
  margin:2em;
  border: 2px solid transparent;
}

.img_device {
  padding: 0.2em;
  height: 200px;
}

.device:hover {
  border: 2px solid #009926;
}

/* Dropdown Button */
.dropbtn {
    background-color: #009926;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

