<footer>
  <div class="footer">
    <span><small><a href="#/">&#169;CellSale 2016</a></small></span> 
      <span><%= link_to "About", about_path %></span>
      <span><%= link_to "Contact", contact_path %></span>
    
  </div>
</footer>